#root{
  display:flex;
  align-items:center;
  justify-content:center;
}
h1{
  color:cornflowerblue;
  font-size:50px;
}
label{
  opacity:0.5;
}
.profile-info{
  margin:10px;
}
.profile-info label{
  font-size:13px;
}
.profile-info label, .profile-info strong{
  display:block;
}
img{
  margin:5px;
  padding:5px;
  height:300px;
  width:300px;
  border-radius:10px;
}